<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Solway:wght@300;400;500;700;800&display=swap" rel="stylesheet">
  <title>Personal Website</title>
</head>
<body>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero__content flex justify-center items-center flex-col">
      <h2 class="hero__title-1 mb-[3rem]">Inventory Management Specialist</h2>
      <h1 class="hero__title-2 mb-[3rem]">Empowering Restaurants with Seamless <br /> Inventory Solutions</h1>
      <a href="#contact-me">
        <button class="btn-1">Inquire Now</button>
      </a>
    </div>
  </section>

  <!-- Inefficient Inventory Management -->
  <section class="section-1">
    <div class="container-2 md:grid md-grid-2-columns-1 md:gap-[50px]">
      <h3 class="section-1__title-1 mb-[2rem] max-w-[300px]">Inefficient Inventory Management</h3>
      <div>
        <p class="section-1__desc-1 mb-[2rem]">Inefficient inventory management leads to overstocking, capital tied up, and increased storage costs, hampering cash flow and profitability.</p>
        <p class="section-1__desc-1 mb-[2rem]">Frequent stockouts result in disrupted service, customer dissatisfaction, and potential revenue loss for restaurants without real-time insights.</p>
        <p class="section-1__desc-1">Manual processes contribute to waste and inefficiency, hindering adaptability and profitability in the dynamic restaurant industry.</p>
      </div>
    </div>
  </section>

  <!-- Minimize Waste, Maximize Profit -->
  <section class="section-2">
    <div class="container-3 md:grid md-grid-2-columns-1 gap-[50px] md:items-center">
      <img
        class="img-1 mx-[auto] mb-[1rem]"
        src="<%= require('@images/3-waste.webp') %>"
        alt="wasted foods"
      />
      <div>
        <h5 class="section-2__title-1 mb-[0.5rem]">Unlock Efficiency</h5>
        <h3 class="section-2__title-2 mb-[1.5rem]">Minimize Waste, Maximize Profit</h3>
        <p class="section-2__desc-1 mb-[1rem]">Inefficient inventory management leads to increased wastage and spoilage in restaurants. Without real-time tracking of expiration dates and usage patterns, ingredients often go to waste, impacting profitability.</p>
        <p class="section-2__desc-1">By implementing a robust inventory management system, restaurants can minimize wastage, optimize stock levels, and ensure that ingredients are used before they spoil, ultimately maximizing profitability and reducing unnecessary costs.</p>
      </div>
    </div>
  </section>

  <!-- Mastering Accurate Forecasting -->
  <section class="section-1">
    <div class="container-2 md:grid md-grid-2-columns-1 gap-[50px] md:items-center">
      <div>
        <h5 class="section-2__title-1 mb-[0.5rem]">Boost Your Efficiency</h5>
        <h3 class="section-2__title-2 mb-[1.5rem]">Mastering Accurate Forecasting</h3>
        <p class="section-2__desc-1 mb-[1rem]">Inaccurate forecasting plagues restaurants without proper inventory management systems. Without real-time data, predicting demand becomes guesswork, leading to frequent stockouts or overstocking.</p>
        <p class="section-2__desc-1 mb-[1rem]">With a robust inventory management system in place, restaurants gain access to real-time insights, enabling accurate forecasting of demand. By leveraging data analytics, businesses can optimize stock levels, minimize waste, and ensure customer satisfaction with timely inventory replenishment.</p>
      </div>
      <img
        class="img-1 mx-[auto]"
        src="<%= require('@images/3-forecasting.webp') %>"
        alt="a laptop with line graph"
      />
    </div>
  </section>

  <!-- Smart Scaling Solutions -->
  <section class="section-2">
    <div class="container-3 md:grid md-grid-2-columns-1 gap-[50px] md:items-center">
      <img
        class="img-1 mx-[auto] mb-[1rem]"
        src="<%= require('@images/3-scaling.webp') %>"
        alt="a girl with a laptop"
      />
      <div>
        <h5 class="section-2__title-1 mb-[0.5rem]">Unlock Growth Potential</h5>
        <h3 class="section-2__title-2 mb-[1.5rem]">Smart Scaling Solutions</h3>
        <p class="section-2__desc-1 mb-[1rem]">Limited scalability restricts restaurants without efficient inventory management systems, hindering expansion plans and growth opportunities in the competitive industry.</p>
        <p class="section-2__desc-1 mb-[1rem]">Implementing a robust inventory management system empowers restaurants to scale operations effectively, optimizing inventory levels and streamlining processes for increased efficiency and profitability. By embracing scalable solutions, restaurants can unlock their full growth potential and thrive in a dynamic market landscape.</p>
      </div>
    </div>
  </section>

  <!-- Efficient Restaurant Inventory Management -->
  <section class="section-1 ">
    <div class="container-3 lg:grid lg-grid-2-columns-1 gap-[50px] md:items-center">
      <div class="md:flex md:justify-center md:min-h-[500px] md:gap-[50px] lg:gap-[10px]">
        <img
          class="img-1 mx-[auto] mb-[1rem] md:max-h-[285px] md:mb-0 md:mx-0 xl:max-h-[350px]"
          src="<%= require('@images/4-inventory-management-1.webp') %>"
          alt="dining chairs and tables"
        />
        <img
          class="img-1 mx-[auto] mb-[1rem] md:max-h-[285px] md:mb-0 md:mx-0 md:self-center lg:self-end xl:max-h-[350px]"
          src="<%= require('@images/4-inventory-management-2.webp') %>"
          alt="birds eye view inside a restaurant"
        />
      </div>

      <div class="md:text-center md:max-w-[550px] md:mx-auto lg:text-left">
        <h3 class="section-3__title-1 mb-[1rem]">Efficient Restaurant Inventory Management</h3>
        <p class="section-3__desc-1 mb-[1rem]">With in-depth approach on inventory management, you can improve profitability and optimize operations at your restaurant. Learn the critical tactics and customized solutions to efficiently minimize waste and maximize stock levels.</p>
        <a href="#contact-me">
          <button class="btn-2">Inquire Now</button>
        </a>
      </div>
    </div>
  </section>

  <!-- Master Your Inventory -->
  <section class="section-2 md:p-0">
    <div class="section-4 md:grid md-grid-2-columns-1 gap-[50px]">
      <div class="max-w-[400px] mx-auto md:p-[1em] md:flex md:flex-col md:justify-center">
        <h3 class="section-2__title-2 mb-[0.5rem]">Master Your Inventory</h3>
        <p class="section-2__desc-1 mb-[1rem]">Dive into the world of efficient inventory management and revolutionize your restaurant's operations. With customized solutions, you can track inventory in real-time, reduce waste, and boost profitability.</p>
        <a href="#contact-me">
          <button class="btn-1 mb-[1rem]">Learn More</button>
        </a>
      </div>

      <img
        class="min-h-[413px] object-cover md:min-h-[700px] w-[100%]"
        src="<%= require('@images/5-master.webp') %>"
        alt="a hands pressing a screen"
      />
    </div>
  </section>

  <!-- Effective Inventory Management -->
  <section class="section-1">
    <div class="container-2 md:grid md:items-center">
      <div class="md:grid md-grid-4-columns-1 gap-[20px]">
        <div class="mb-[1rem] md:mb-0">
          <h3 class="section-3__title-1">Effective Inventory Management</h3>
          <p class="section-3__desc-1">Ensure restaurant success with streamlined inventory control. Optimize stock levels, reduce waste, and maximize profitability with precision.</p>
        </div>
        <div class="mb-[2rem] md:mb-0">
          <img
            class="img-1 short mx-[auto] mb-[1rem]"
            src="<%= require('@images/6-trashcan.webp') %>"
            alt="trashcan"
          />
          <div class="max-w-[275px] mx-[auto] md:mx-0">
            <h5 class="section-4__subtitle">Control Waste</h5>
            <p class="section-4__desc-1">Reduce excess and minimize spoilage to boost efficiency and profits.</p>
          </div>
        </div>
        <div class="mb-[2rem]">
          <img
            class="img-1 short mx-[auto] mb-[1rem]"
            src="<%= require('@images/6-alley.webp') %>"
            alt="an alley on a warehouse"
          />
          <div class="max-w-[275px] mx-[auto]" >
            <h5 class="section-4__subtitle">Optimize Stock</h5>
            <p class="section-4__desc-1">Maintain just enough inventory to meet demand without overstocking.</p>
          </div>
        </div>
        <div>
          <img
            class="img-1 short mx-[auto] mb-[1rem]"
            src="<%= require('@images/6-dollars.webp') %>"
            alt="dollars cash"
          />
          <div class="max-w-[275px] mx-[auto] md:mx-0">
            <h5 class="section-4__subtitle">Maximize Profit</h5>
            <p class="section-4__desc-1">Efficient inventory management directly impacts profitability, driving success in the restaurant industry.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get in Touch! -->
  <section class="section-2 md:px-[3em]">
    <div class="container-2 md:grid md:items-center">
      <div>
        <h2 class="section-3__title-1 text-center mb-[3rem] md:mb-[10rem]">Get in Touch!</h2>
        <div class="md:grid md-grid-3-columns-1 gap-[20px]">
          <div class="mb-[2rem]">
            <div class="container-1 mb-[1rem]">
              <img
                src="<%= require('@images/7-message.webp') %>"
                alt="email icon"
              />
            </div>
            <h4 class="section-5__title-1 mb-[0.5rem]">Send a Message</h4>
            <p class="section-5__desc-1">Have questions or want to learn more? Send a message, and I'll get back to you as soon as possible!</p>
          </div>
          <div class="mb-[2rem]">
            <div class="container-1 mb-[1rem]">
              <img
                src="<%= require('@images/7-chat.webp') %>"
                alt="chat icon"
              />
            </div>
            <h3 class="section-5__title-1 mb-[0.5rem]">Let's Chat</h3>
            <p class="section-5__desc-1">Ready to dive deeper? Let's start a conversation! Reach out to me, and I'll be happy to assist you further.</p>
          </div>
          <div class="mb-[2rem]">
            <div class="container-1 mb-[1rem]">
              <img
                src="<%= require('@images/7-connect.webp') %>"
                alt="connect icon"
              />
            </div>
            <h3 class="section-5__title-1 mb-[0.5rem]">Connect with ME</h3>
            <p class="section-5__desc-1">Don't hesitate to reach out! Whether it's feedback or inquiries, I'm here to help. Send a message and let's connect!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Let's work together. -->
  <section 
    class="section-6 md:p-0 md:grid md-grid-2-columns-1 md:gap-[40px] md:items-center md:max-h-[80vh] lg:gap-[100px]"
    id="contact-me"
  >
    <img 
      class="max-h-1 object-cover mb-[1rem] md:mb-0 md:max-h-[100%] md:w-[100%]"
      src="<%= require('@images/8-contact.webp') %>" 
      alt="a hand holding a phone" 
    />

    <div>
      <h5 class="section-3__title-1 mb-[3rem]">Let's work together.</h5>

      <div>
        <div class="mb-[2rem]">
          <h6 class="section-6__subtitle-1 mb-[0.5rem]">Phone Number</h6>
          <p class="section-6__desc-1">+63964 735 0780</p>
        </div>

        <div class="mb-[2rem]">
          <h6 class="section-6__subtitle-1 mb-[0.5rem]">Email Address</h6>
          <p class="section-6__desc-1">johbeltran2001@gmail.com</p>
        </div>

        <div class="mb-[2rem]">
          <h6 class="section-6__subtitle-1 mb-[0.5rem]">Address</h6>
          <p class="section-6__desc-1">Zone 3, Palestina, Pili, Camarines Sur <br/> Philippines</p>
        </div>
      </div>

      <div class="flex items-center gap-[10px]">
        <a href="https://www.facebook.com/profile.php?id=100084809997003" target="_blank">
          <img 
            class="img-2"
            src="<%= require('@images/8-facebook.svg') %>" 
            alt="facebook logo" 
          />
        </a>
        <a href="https://x.com/johbeltran01" target="_blank">
          <img 
            class="img-3"
            src="<%= require('@images/8-twitter.svg') %>" 
            alt="twitter logo" 
          />
        </a>
      </div>
    </div>
  </section>
</body>
</html>
